#favoriteItems {
    margin: 4em 0 0 0;
}

#favoriteItems {
    width: 100%;
    height: auto;
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    gap: 2em;
}

@media (max-width: 768px) {
    #favoriteItems {
        margin: 0;
        padding: 2em;

        h1 {
            font-size: 1.35em;
        }
    }
}