#container {
    // padding: 3em 6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.contentHome,
.functionsHome {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.contenText {
    h1 {
        margin: 0 0 5px 0;
    }

    h1,
    p {
        padding: 0;
    }

    p {
        color: $grey-color;
        margin: 0;
    }
}

.contenIcon {
    font-size: 2em;
}

.contentImage,
.contentImage img {
    max-width: 100%;
    height: 4em;
    border-radius: 100%;
}

@media (max-width: 768px) {
    #container {
        padding: 2em;

        h2 {
            margin-bottom: 1em;
            font-size: 1.35em;
        }
    }

    .functionsHome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }

    .contenText {
        h1 {
            font-size: 1.35em;
        }

        p {
            font-size: 0.75em;
        }
    }

    .contentImage,
    .contentImage img {
        height: 2em;
    }

    .contenIcon {
        font-size: 1.25em;
    }
}