#container {
    // padding: 3em 6em;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.contentHome,
.functionsHome {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.contentImage,
.contentImage img {
    max-width: 100%;
    height: 5em;
    border-radius: 100%;
}

.contenText {
    h1 {
        margin: 0 0 5px 0;
    }

    h1,
    p {
        padding: 0;
    }

    p {
        color: #ACACAC;
        margin: 0;
    }
}

@media (max-width: 768px) {
    #container {
        padding: 1em;
    }

    .functionsHome {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        gap: 1em;
    }
}