$bg-btn-primary: #24202a;
$bg-btn-primary-hv: #39353f;
$color-icon-btn-primary: #24202a;
$color-icon-btn-primary-hv: #39353f;
$bg-icon-btn-primary: #23f3df;
$bg-icon-btn-primary-hv: #f1f1f1;
$white-bg-color: #f1f1f1;