$yellow-color: #FED45B;
$light-blue-color: #9ED6E5;
$cyan-color: #23F3DF;
$coral-color: #FF5858;
$red-color: #FF382C;
$dark-color: #24202A;
$grey-color: #ACACAC;
$white-color: #FFFFFF;

// Entry.html
$bg-btn-primary-hv: #39353f;
$color-icon-btn-primary-hv: #39353f;
$bg-icon-btn-primary-hv: #f1f1f1;