* {
    box-sizing: border-box !important;
}

html,
body {
    font-family: "Nunito", sans-serif;
    background-color: #FAFAFA;
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
small,
a,
button,
input {
    font-family: "Nunito", sans-serif;
    border: none;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}